@if (desktop) {
    <section>
        <div class="apresentacao">
            
            <h1>Camila Santiago</h1>
            <div class="foto"></div>
            <p>Web Developer</p>
            
        </div>
        
        <div class="contatos">            
            <div class="redes">
                <i (click)="redirecionar('https://github.com/Camilay3')" class="fab fa-github" title="Github"></i>
                <i (click)="redirecionar('https://www.linkedin.com/in/camila-santiago-7a9b9b354/')" class="fab fa-linkedin" title="Linkedin"></i>
                <i (click)="redirecionar('https://github.com/Camilay3/portifolio#readme')" class="fi fi-ss-book-alt" title="Documentação do portifólio"></i>
            </div>
            <a (click)="openModal()">Vamos conversar!</a>
        </div>

    </section>

} @else {
    <div class="mobile">
        <div class="content">
            <div class="apresentacao">
                <h1>Camila Santiago</h1>
                <p>Web Developer</p>
            </div>

            <div class="contatos">            
                <div class="redes">
                    <i (click)="redirecionar('https://github.com/Camilay3')" class="fab fa-github" title="Github"></i>
                    <i (click)="redirecionar('https://www.linkedin.com/in/camila-santiago-7a9b9b354/')" class="fab fa-linkedin" title="Linkedin"></i>
                    <i (click)="redirecionar('https://github.com/Camilay3/portifolio#readme')" class="fi fi-ss-book-alt" title="Documentação do portifólio"></i>
                </div>
                <a (click)="openModal()">Vamos conversar!</a>
            </div>
        </div>

        <div class="foto"></div>
    </div>
}