:host {
    width: 100%;
    height: 100%;
    padding: 2rem;
    background-color: var(--purple);
    border-radius: 2rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

section {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

h1 {
    font-size: 1.5rem;
}

.apresentacao {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.contatos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
}

.redes {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;

    width: 100%;
}

.redes i {
    color: var(--white);
    font-size: 2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.redes i:hover {
    color: var(--lightPurple);
}

.contatos a {
    background-color: var(--lightPurple);
    border: 2px solid transparent;
    padding: 0.8rem 0.5rem;
    font-size: 0.8rem;
    border-radius: 1rem;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    box-shadow: 0 0 8px 8px var(--shadow);
}

.contatos a:hover {
    background-color: transparent;
    border: 2px solid var(--white);
}

img {
    width: 100%;
    aspect-ratio: 0.8;
    object-position: center 20%;
    object-fit: cover;
    margin: 1rem 0;
    box-shadow: 0 0 8px 8px var(--shadow);

    border-radius: 1rem;
}

@media screen and (max-width: 1300px) {
    :host {
        padding: 1.5rem;
    }

    h1 {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 900px) {
    :host {
        padding: 1rem;
    }

    h1 {
        font-size: 1rem;
    }
}

@media screen and (max-width: 770px) {
    :host {
        padding: 0.8rem;
        border-radius: 1rem;
        gap: 1rem;
    }

    section {
        gap: 1rem;
        padding-inline: 5rem;
    }

    img {
        height: 100%;
        width: 30%;
    }

    h1 {
        font-size: 1rem;
    }

    p {
        font-size: 0.5rem;
    }

    .contatos i {
        font-size: 1rem;
    }

    .contatos a {
        padding: 0.3rem;
        border-radius: 0.5rem;
        margin-top: 0.4rem;
        font-size: 0.6rem;
    }
}

@media screen and (max-width: 500px) {
    section {
        padding-inline: 0;
    }
}
