:host {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.legend {
	position: absolute;
	bottom: 0;

    display: flex;
    gap: 1rem;

	.purple {
		color: var(--lightPurple);
		font-weight: bold;
	}

	.icons {
		display: flex;
		gap: 1rem;

		span {
			display: flex;
			gap: 0.5rem;
		}
	}
}

.experiencias {
    margin: 1.2rem auto 6rem auto;
    display: flex;
    flex-direction: column;
    gap: 6rem;
	position: relative;
	padding-bottom: 3rem;
}

.experiencia h1 span, .historico li span {
    font-size: 1rem;
    color: var(--lightPurple);
    gap: 0.5rem;
}

.experiencia {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;

	.empresa i { margin-right: 0.5rem; }
}

.line {
    height: 2px;
    background-color: var(--white);
    margin-bottom: 0.5rem;
}

.historico {
    padding-left: 3rem;
    padding-top: 1rem;

    li {
        margin-left: 2rem;
        font-style: italic;
    }
}

.conhecimentos {
	display: flex;
	margin-bottom: 6rem;
	gap: 1.6rem;
	margin-top: 1.2rem;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;

	.conhecimento {
		flex: 1 1 clamp(200px, 25%, 200px);
		max-width: 400px;
		display: flex;
		flex-direction: column;
		min-width: 200px;
		gap: 0.5rem;
		border-radius: 1rem;
		padding: 2rem;

		background: rgba(255, 255, 255, 0.06);
		backdrop-filter: blur(20px);
  		-webkit-backdrop-filter: blur(20px);
		border: 1px solid rgba(255, 255, 255, 0.25);
		box-shadow: 0 8px 32px rgba(0, 0, 0, 0.35), inset 0 1px 1px rgba(255,255,255,0.2);

		span {
			font-size: 1rem;
			font-weight: bold;
			color: var(--lightPurple);
		}

		h2 {
			text-align: end;
			font-size: 1.5rem;
		}
	}
}

.cursos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    margin-top: 1.2rem;
}

.cursos h3, .experiencias h3:nth-child(1) {
    margin-top: 0;
}

.curso {
    border: 1px solid var(--white);
    border-radius: 1rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

	p {
		display: flex;
		gap: 0.5rem;
	}
}

@media screen and (max-width: 500px) {
    h1 { font-size: 1.2rem; }

    .experiencia, .experiencia h1 span, .historico li span {
        font-size: 0.8rem;
    }

    .historico {
        padding-left: 1.2rem;
        li { margin-left: 1.5rem; }
    }

    .curso {
        font-size: 0.5rem;
        padding: 0.8rem;
        gap: 0.2rem;
    }

	.conhecimentos {
		gap: 1rem;
		.conhecimento {
			span { font-size: 0.5rem !important; }
			h2 { font-size: 0.75rem !important; }
			min-width: 100px !important;
			max-width: 100px !important;
			padding: 1rem !important;
			gap: 0.125rem !important;
		}
	}
}
