h1,
p {
    width: fit-content;
    margin: auto;
    text-align: center;
}

h1 {
    white-space: nowrap;
    overflow: hidden;
    animation: escrevendo 3s steps(29), cursor .4s step-end infinite alternate;
    border-right: 3px solid var(--lightPurple);
}

@keyframes escrevendo {
    0% {
        width: 0;
    }

    100% {
        width: 22ch;
    }
}

@keyframes cursor {
    50% {
        border-color: transparent;
    }
}

.techstack {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.bloco {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-inline: 2rem;
    margin-top: 3rem;
}

@media (max-width: 440px) {
    h1 {
        font-size: 1.15rem;
    }

    h3 {
        font-size: 0.9rem;
    }
    
    p {
        font-size: 0.8rem;
    }

    .bloco {
        margin-top: 2rem;
    }
}
