<h1>Olá! Boas vindas ao meu portifólio!</h1>
<p>Aqui você pode conhecer um pouco mais sobre quem eu sou e como atuo no mundo da tecnologia.</p>

<div class="techstack">
    <div class="bloco">
        <h3>Tech stack principal</h3>
        <app-icones [lista]="iconesPrincipal"></app-icones>
    </div>
    <div class="bloco">
        <h3>Também já utilizei</h3>
        <app-icones [lista]="iconesOutros"></app-icones>
    </div>
    <div class="bloco">
        <h3>Ferramentas e softwares</h3>
        <app-icones [lista]="iconesFerramentas"></app-icones>
    </div>
</div>