.icones {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    flex-wrap: wrap;
}

.icone {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

i {
    display: flex;
    color: var(--lightPurple);
    font-size: 3rem;
    width: fit-content;
    margin-bottom: 0.5rem;
}

span {
    font-size: 0.7rem;
}

@media screen and (max-width: 1300px) {
    .icone {
        margin: 0.8rem;
    }
}
@media screen and (max-width: 1230px) {
    i {
        font-size: 2.5rem;
    }
    .icone {
        margin: 0.6rem;
    }
}
@media screen and (max-width: 1140px) {
    i {
        font-size: 2rem;
    }
    .icone {
        margin: 1rem 0.3rem;
    }
}
