:host {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

a {
    font-weight: bold;
    color: var(--white);
    text-decoration: none;
    border: 1px solid var(--white);
    padding: 0.5rem;
    border-radius: 0.2rem;
}

a:hover {
    background-color: var(--lightPurple);
}