section {
    max-width: 100%;
    overflow-x: hidden;
    height: 100%;
    display: grid;
    grid-template-areas:
        "app-card app-navbar"
        "app-card container";
    gap: 2rem;
    row-gap: 4rem;

    grid-template-columns: minmax(200px, 20%) 1fr;
    grid-template-rows: auto 1fr;
}

app-navbar {
    grid-area: app-navbar;
}

app-card {
    grid-area: app-card;
}

.container {
    grid-area: container;
    width: 100%;
    overflow-x: hidden;
    padding-bottom: 1rem;
    padding-right: 8px;

    display: flex;
    justify-content: center;
}

/* Scrollbar */
.container::-webkit-scrollbar {
    width: 4px;
}

.container::-webkit-scrollbar-thumb {
    background-color: var(--lightPurple);
    border-radius: 0.5rem;
}

@media screen and (max-width: 900px) {
    section {
        gap: 1rem;
    }
}

@media screen and (max-width: 770px) {

    /* NAVBAR DESKTOP */
    section {
        grid-template-areas:
            "app-card app-card"
            "container container"
            "app-navbar app-navbar";
        row-gap: 2rem;

        grid-template-rows: 20% 60% 1fr;
    }
}
