section {
    max-width: 100%;
    overflow-x: hidden;
    height: 100%;
    display: grid;
    grid-template-areas:
        'app-card app-navbar-desktop'
        'app-card container';
    gap: 4rem;
    row-gap: 2rem;

    grid-template-columns: 20% 1fr;
    grid-template-rows: auto 1fr;
}

app-navbar-desktop {
    grid-area: app-navbar-desktop;
}

app-card {
    grid-area: app-card;   
}

.container {
    grid-area: container;
    width: 100%;
    overflow: hidden;
}
