section {
    max-width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
        "app-card app-navbar"
        "app-card container";
    gap: 2rem;
    row-gap: 2rem;

    grid-template-columns: minmax(200px, 20%) 1fr;
    grid-template-rows: auto 1fr;
}

app-navbar {
    grid-area: app-navbar;
}

app-card {
    grid-area: app-card;
}

.container {
    height: 100%;
    width: 100%;
    grid-area: container;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    padding-bottom: 1rem;
    padding-right: 4px;
    overflow-x: hidden;
    overflow-y: auto;
}

router-outlet {
    /* Para utilizar o display grid no container sem interferência */
    display: none; 
}

/* Scrollbar */
.container::-webkit-scrollbar {
    width: 4px;
}

.container::-webkit-scrollbar-thumb {
    background-color: var(--lightPurple);
    border-radius: 0.5rem;
}

@media screen and (max-width: 900px) {
    section {
        gap: 1rem;
    }
}

@media screen and (max-width: 770px) {

    /* NAVBAR DESKTOP */
    section {
        grid-template-areas:
            "app-card app-card"
            "container container"
            "app-navbar app-navbar";
        row-gap: 1rem;

        grid-template-rows: 20% 1fr auto;
    }

    .container {
        padding-top: 0.2rem;
    }
}
