<h1>Resumo</h1>
<p class="resumo">Meu nome é Camila, tenho {{ idade }} anos e sonho em atuar na área de desenvolvimento web. Me apaixonei por programação durante o curso técnico em Informática no IFCE, onde explorei diversas áreas da tecnologia. Desde então, desenvolvi um grande interesse por desenvolvimento de software, especialmente na área de front-end e estou sempre em busca de oportunidades para aprender, evoluir na área e colaborar em projetos reais.</p>

<h3>Formação</h3>
<div class="formacoes">
    @for (formacao of formacoes; track formacao) {
        <div class="formacao">
            <img draggable="false" src="{{formacao.src}}">
            <div class="descricao">
                <p>{{formacao.nome}}</p>
                @if (formacao.status) {
                    <span>({{formacao.status}})</span>
                } @else {
                    <span>({{formacao.dataInical}} a {{formacao.dataFinal}})</span>
                }
            </div>
        </div>
    }
</div>

<h3>Hobbies & Curiosidades</h3>
<app-icones [lista]="hobbies"></app-icones>
