:host {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resumo {
    width: 90%;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    padding: 1rem;

    p {
      text-align: justify;
      hyphens: auto;
      overflow-wrap: break-word;
      text-indent: 2rem;
  }
}

.formacoes {
    display: flex;
    flex-direction: column;
    padding-top: 0.3rem;
    gap: 1rem;
}

.formacao {
    display: flex;
    align-items: center;

	.descricao {
		display: flex;
		flex-wrap: wrap;
	}

	span {
		color: var(--lightPurple);
		font-weight: bold;
	}

	img { margin-right: 1rem; }
	p { margin-right: 0.5rem; }
}

@media screen and (max-width: 500px) {
  .resumo { width: 100%; }
}
