@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "@flaticon/flaticon-uicons/css/all/all.css";
@import "@fortawesome/fontawesome-free/css/all.css";

:root {
    --darkPurple: #0F0026;
    --purple: #3A0081;
    --lightPurple: #8059BA;
    --white: #fff;
    --shadow: #00000020;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    color: var(--white);
    font-family: "Inter", sans-serif;
}

body {
    width: 100dvw;
    height: 100dvh;
    padding: 3rem;
    background-color: var(--darkPurple);
}

p, h1, h3, span {
    cursor: default;
}

p::selection, h1::selection, h3::selection, span::selection {
    background-color: var(--lightPurple);
    color: var(--white);
}

h3 {
    margin-top: 2.5rem;
}

@media screen and (max-width: 900px) {
    body {
        padding: 2rem;
    }
}
@media screen and (max-width: 800px) {
    body {
        padding: 1rem;
    }
}
