:host {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
}

h3 {
    margin: 0 0 0.2rem 0;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.eventos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.evento {
    margin-top: 2rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

	span {
		color: var(--lightPurple);
		font-weight: bold;
	}

	img {
		width: 14%;
		aspect-ratio: 1;
		object-fit: cover;
		object-position: center;
		margin-right: 1rem;
		border-radius: 1rem;
	}
}

.desc {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    height: 100%;
    width: 100%;
    max-width: 60%;

	p {
		margin-top: 0.8rem;
		text-align: justify;
		hyphens: auto;
	}

	a {
		border: 1px solid var(--white);
		border-radius: 0.3rem;
		padding: 0.3rem 0.2rem;
		display: flex;
		text-decoration: none;
		top: 0;
		right: 0;
		font-size: 50%;
		&:hover i { color: var(--lightPurple); }
	}
}

.paginacao {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

	i:hover {
		cursor: pointer;
	    color: var(--lightPurple);
	}
}

.desativo {
    cursor: default !important;
    opacity: .5;
	&:hover { color: var(--white) !important; }
}

.fade {
    opacity: 1;
    transition: opacity 0.3s linear;
}

.fade-enter { opacity: 0; }

@media screen and (max-width: 1000px) {
    .desc { max-width: 100%; }
    .evento img { width: 20%; }
}

@media screen and (max-width: 770px) {
    .desc { max-width: 100%; }

    .evento {
		margin-top: 1.5rem;
		img { width: 15%; }
		p, span { font-size: 0.8rem; }
		h3 {font-size: 1rem; }
    }
}

@media screen and (max-width: 500px) {
    .evento {
    	margin-top: 1rem;
		img { width: 25%; }
		p, span { font-size: 0.7rem; }
		h3 {font-size: 0.9rem; }
    }
    .paginacao span, .paginacao i { font-size: 0.8rem; }
}

@media screen and (max-width: 450px) {
    .evento img { width: 30%; }
}
